# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
.terraform.lock.hcl
